<?xml version="1.0"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>GatewayHelloWorld</display-name>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>GatewayHelloWorld</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<!-- All approved gateway users have this role. Change this if you want to
			     restrict access to members managed in gateway
			-->
			<role-name>cn=Sponsored Users,cn=gateway,ou=admin,dc=igw,dc=us</role-name>
		</auth-constraint>
	</security-constraint>

	<servlet>
		<servlet-name>GatewayHelloWorld</servlet-name>
		<servlet-class>gov.igw.examples.GatewayHelloWorld</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GatewayHelloWorld</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

</web-app>
